.accordion {
    width: 80%; /* Limite la largeur à 80% de l'espace horizontal */
    margin: 0 auto; /* Centre l'accordéon horizontalement */
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: #f4f4f4;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .accordion-content {
    padding-left: 20px;
    display: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    padding: 5px 0;
  }
  
  /* Ajouter un espace vertical entre le genre musical et le premier interprète */
  .accordion-item > .accordion-content > .accordion-item:first-child {
    margin-top: 10px;
  }
  
  /* Effet hover */
  .accordion-header:hover,
  ul li:hover {
    background-color: #e0e0e0; /* Couleur de fond au survol */
  }
  
  ul li a {
    display: block; /* Pour étendre le lien à toute la largeur du li */
    text-decoration: none; /* Enlever la décoration de lien */
    color: black; /* Couleur de texte par défaut */
  }
  
  ul li a:hover {
    color: blue; /* Couleur de texte au survol */
  }
  

/* Style pour afficher le contenu lorsqu'il est actif */
.accordion-content.active {
  display: block;
}

.accordion-content li a:hover {
  background-color: #f0f0f0;
}

.accordion-content li a {
  display: block;
}

.accordion-content li {
  list-style-type: none;
}

.accordion-content li:hover {
  background-color: #f0f0f0;
}
